/* COMMON */

@value font-size, color-dark from "./settings.css";

.font {
  font-size: font-size;
  color: color-dark;
}

.font-primary {
  font-family: helvetica, arial, sans-serif;
}

.one-eighth {
  width: calc(100 / 8)%;
  height: calc(100 / 8)%;
}

.absolute-center {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
